
<div class="container text-center" style="
background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');
height: 100%;
">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >Álbum fotográfico</a>
    </li>    
  </ul>  

<div id="divCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let ft of fotos;let item=index" class="carousel-item" [ngClass]="{'active' : item==0}">      
        <img class="img-fluid" src={{ft.url}} alt={{ft.title}}>
        <div class="carousel-caption d-none d-md-block">
          <h5>Album  {{ft.albumId}}</h5>
          <p>{{ft.title}}</p>
        </div>        
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#divCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only text-black">Previous</span>
  </a>
  <a class="carousel-control-next" href="#divCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only text-black">Next</span>
  </a>
</div>

</div>