
<div class="container text-center">  
  <h1>Álbum fotográfico</h1>

<div id="divCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let ft of fotos;let item=index" class="carousel-item" [ngClass]="{'active' : item==0}">
      <div class="col-md-12">
        <img class="img-fluid" src={{ft.url}} alt={{ft.title}}>
        <div class="text-center h-100 opacity-25">
          <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-md-left">
                  <h4 class="text-black">Album  {{ft.albumId}}</h4>
                  <p class="mb-0 text-black-50">{{ft.title}}</p>
                  <hr class="d-none d-md-block mb-0 ms-0">
              </div>
          </div>
      </div>
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#divCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only text-black">Previous</span>
  </a>
  <a class="carousel-control-next" href="#divCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only text-black">Next</span>
  </a>
</div>

</div>